.operation-cell {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.operation-cell:hover {
  background-color: #fafafa
}
.ant-table-cell {
  padding: 0px !important;
  height: 50px;
  border: 1px;
  text-align: center;
}
.ant-table-thead > tr > th {
  text-align: center !important;
}